<nav class="fixed-top   py-2 ">
    <div class="container-fluid">
        <div class="row g-1">
            <div class="col-1 align-self-center  ">
                <a class="navbar-brand h2" (click)="back()"><i class="bi bi-arrow-left"></i></a>
            </div> 

        </div>
    </div>
</nav>


<div class="container-fluid" style="margin-top: -40px;">
    <div class="page-header min-height-200 border-radius-xl mt-4" style="background-image: url('../assets/img/curved-images/curved0.jpg'); background-position-y: 50%;">
      <span class="mask bg-gradient-primary opacity-6"></span>
    </div>
    <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
      <div class="row gx-4">
        <div class="col-auto">
          <div class="avatar avatar-xl position-relative">
            <img src="https://picsum.photos/200/200" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
          </div>
        </div>
        <div class="col-auto my-auto">
          <div class="h-100">
            <h5 class="mb-1">
              {{item.name}}
            </h5>
            <p class="mb-0 font-weight-bold text-sm">
              {{item.default_code}}
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
          <div class="nav-wrapper position-relative end-0">
            <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
              <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-1 active " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true"> 
                  <span class="ms-1">item.service_type</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false"> 
                  <span class="ms-1">Messages</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false"> 
                  <span class="ms-1">Rp {{item.list_price | number}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">

                <div class="card mb-3">
                    <div class="card-body lh-sm">
                       <code>
                            {{item |json}}
                       </code>
                    </div>  
                </div>

            </div>
        </div>
    </div>

</main>