<app-header></app-header>

<div class="main1" style="padding-top:32vh;" >

    <div class="container-fluid">
        

        <div class="row g-3 mb-3">
            <div class="col-12  text-center">
                <h3>APPROVAL</h3>
            </div>
            <div class="col-4">
                <div class=" bg-white rounded shadow-sm text-center" [routerLink]="[ '/approval/arDue' ]">
                    <div class="lh-1 py-2">
                        <h1> <i class="bi bi-receipt"></i> </h1>
                        <small>
                            AR DUE
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class=" bg-white rounded shadow-sm text-center" [routerLink]="[ '/approval/creditLimit' ]">
                    <div class="lh-1 py-2">
                        <h1> <i class="bi bi-credit-card-2-front"></i></h1>
                        <small>CREDIT LIMIT</small>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class=" bg-white rounded shadow-sm text-center" [routerLink]="[ '/approval/discount' ]">
                    <div class="lh-1 py-2">
                        <h1> <i class="bi bi-percent"></i> </h1>
                        <small>DISCOUNT</small>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class=" bg-white rounded shadow-sm text-center" [routerLink]="[ '/approval/top' ]">
                    <div class="lh-1 py-2">
                        <h1> <i class="bi bi-ubuntu"></i> </h1>
                        <small>ToP</small>
                    </div>
                </div>
            </div>
           
            
        </div>
 
       
    </div>
</div>