<nav class="fixed-top bg-white shadow-sm border-bottom py-2">
    <div class="container-fluid">
        <div class="row g-1">
            <div class="col-1">
                <a class="navbar-brand h2" (click)="back()"><i class="bi bi-arrow-left"></i></a>
            </div>
            <div class="col-10 align-self-center text-center  ">
                <h5 class="p-0 m-0  ms-3" > Search  </h5> 
            </div>
            <div class="col-1">

            </div>


        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-12">


            <div class="card my-4">

                <div class="card-body ">  
                    <div class="mb-2" *ngIf="!show_res_partner">
                        <label for="searchCustomer" class="form-label">Search   by Name</label>

                        <input type="text" class="form-control" name="searchCustomer" minlength="4" id="searchCustomer"
                            [(ngModel)]="searchCustomer" required placeholder="min 4 char" (keydown.enter)="onSearch()">
                        <small><em>Total {{totalAll | number }}   in database</em></small>

                        <div class="mt-3 d-grid">
                            <button type="button" class="btn btn-lg btn-info" (click)="onSearch()">Search by name</button>
                        </div>
                    </div>

                    <div class="mb-2" *ngIf="show_res_partner">
                        <label  class="form-label mb-2">Search by keyword "{{searchCustomer}}", total search {{total}}</label>
                        <div class="list-group"> 
                            <a href="javascript:;" class="list-group-item list-group-item-action" (click)="onSelectCustomer(x);" *ngFor="let x of res_partner">
                                <div><b>{{x.name}}</b></div> 
                                <div class="lh-sm"><small>{{x.street}}</small></div> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div> 


<div class="floating_footer" >
  
    <a [routerLink]="[ '/customer/insert' ]"  class="display-1">
        <i class="bi bi-plus-circle-fill text-info"></i>
    </a>
</div>