<app-header></app-header>

<div class="main1">

    <div class="container-fluid">
        <div class="row g-3 mb-3">
            <div class="col-4">
                <div class=" bg-white rounded shadow-sm text-center" [routerLink]="[ '/scheduleAcivities' ]">
                    <div class="lh-1 py-2">
                        <h1> <i class="bi bi-calendar3"></i></h1>
                        <small>
                            Schedule
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class=" bg-white rounded shadow-sm text-center" [routerLink]="[ '/activity' ]">
                    <div class="lh-1 py-2">
                        <h1> <i class="bi bi-pin-map"></i> </h1>
                        <small>Activty</small>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class=" bg-white rounded shadow-sm text-center" [routerLink]="[ '/product' ]">
                    <div class="lh-1 py-2">
                        <h1> <i class="bi bi-box2"></i> </h1>
                        <small>
                            Product
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3 mb-5">
            <div class="col-4">
                <div class=" bg-white rounded shadow-sm text-center" [routerLink]="[ '/cart' ]">
                    <div class="lh-1 py-2">
                        <h1> <i class="bi bi-cart3"></i> </h1>
                        <small>
                            Cart
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class=" bg-white rounded shadow-sm text-center" [routerLink]="[ '/order' ]">
                    <div class="lh-1 py-2">
                        <h1> <i class="bi bi-truck"></i> </h1>

                        <small>
                            Order
                        </small>
                    </div>
                </div>
            </div>

        </div>

        <div class="row g-3 ">
            <div class="col-12">
                <small>Development Only</small>
            </div>
            <div class="col-4">
                <div class=" bg-white rounded shadow-sm text-center" (click)="portal1()">
                    <div class="lh-1 py-2">
                        <h2> <i class="bi bi-filetype-json"></i> </h2>
                        <small>
                            <a >Test Call API Server</a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class=" bg-white rounded shadow-sm text-center"  (click)="cam()">
                    <div class="lh-1 py-2">
                        <h2> <i class="bi bi-camera2"></i> </h2>

                        <small>
                            <a >Test Camera Allowed</a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class=" bg-white rounded shadow-sm text-center" (click)="gps()">
                    <div class="lh-1 py-2">
                        <h2> <i class="bi bi-braces-asterisk"></i> </h2>

                        <small>
                            <a >Test GPS Allowed</a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="bg-light rounded p-2">
                    {{note}} {{gpsInfo | json}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="lh-1 my-3 alert bg-light">
                    <code> {{env | json}}</code>
                </div>
            </div>
        </div>
    </div>
</div>