<nav class="fixed-top bg-white shadow-sm border-bottom py-2">
    <div class="container-fluid">
        <div class="row g-1">
            <div class="col-1">
                <a class="navbar-brand h2" (click)="back()"><i class="bi bi-arrow-left"></i></a>
            </div>
            <div class="col-10 align-self-center text-center  ">
                <h5 class="p-0 m-0  ms-3"> Activity Schedule </h5>
            </div>
            <div class="col-1">

            </div>


        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-12">


            <div class="card my-4">

                <div class="card-body ">

                    <div class="mb-2">
                        <label for="x_schedule_date" class="form-label">x_schedule_date</label>
                        <input type="date" class="form-control " name="x_schedule_date"
                            id="x_schedule_date" [(ngModel)]="model.x_schedule_date" required>
                    </div>
                    <div class="mb-2">
                        <label for="x_name" class="form-label">x_salesperson_id</label>

                        <select class="form-control" [(ngModel)]="model.x_salesperson_id">
                            <option *ngFor="let n of x_mobile_users" [value]="n.x_employee_id"> {{n.x_name}}</option>
                        </select> 
                       
                    </div>
                    <div class="mb-2">
                        <label for="x_route_id" class="form-label">x_route_id</label>
                        <select class="form-control" name="route" id="route" [(ngModel)]="model.x_route_id" required>
                            <option value="" [hidden]="model.x_route_id"> - </option>
                            <option [value]="x.id" *ngFor="let x of x_route">{{x.x_name}}</option>
                        </select>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-12">
            <small>Dev mode :</small>
            <div>
                <code>{{model | json}}</code>
            </div>
        </div>
    </div>
</div>

<footer class="bg-white border-top shadow-sm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-grid  py-2">
                    <button type="button" class="btn btn-lg btn-primary" (click)="onSubmit()">SUBMIT</button>
                </div>

            </div>
        </div>
    </div>
</footer>