<app-header-back></app-header-back>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="mb-2">
                <label for="x_schedule_date" class="form-label">x_name</label>
                <input type="date" class="form-control form-control-sm" name="x_schedule_date" id="x_schedule_date"
                    [(ngModel)]="model.x_schedule_date" required>
            </div>
            <div class="mb-2">
                <label for="x_name" class="form-label">x_name</label>
                <input type="text" class="form-control form-control-sm" name="x_name" id="x_name"
                    [(ngModel)]="model.x_name" required>
            </div>
            <div class="mb-2">
                <label for="x_route_id" class="form-label">x_route_id</label>
                <select class="form-control" name="route" id="route" [(ngModel)]="model.x_route_id" required>
                    <option value="" [hidden]="model.x_route_id"> - </option>
                    <option [value]="x.id" *ngFor="let x of x_route">{{x.x_name}}</option>
                </select>
            </div>

           
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-grid">
                    <button type="button" class="btn btn-lg btn-primary" (click)="onSubmit()">SUBMIT</button>
                </div>

            </div>
        </div>
    </div>
</footer>