<nav class="navbar   fixed-top "  >
    <div class="container-fluid">
        <div class="row g-1">
            <div class="col-1 align-self-center">
                <a class="navbar-brand" (click)="back()"><i class="bi bi-arrow-left"></i></a>
            </div>
            <div class="col-5">
                <div class="navbar-brand">
                    <strong> Activites schedule</strong>
                </div>
            </div>
            <div class="col-6 text-end">
                <div class="navbar-brand">
                    asdf </div>
            </div>
        </div>
    </div>
</nav>