<nav class="navbar bg-body-tertiary fixed-top" aria-label="Light offcanvas navbar">
    <div class="container-fluid">
        <a class="navbar-brand"  >BSF CRM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarLight"
            aria-controls="offcanvasNavbarLight" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
    </div>
</nav>
 
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarLight"
    aria-labelledby="offcanvasNavbarLightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLightLabel">Offcanvas</h5>
        <a  class="" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="bi bi-x-lg"></i>
        </a>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-dismiss="offcanvas" (click)="logout();" >Log Out</a>
            </li> 
        </ul>
        
    </div>
</div>
