<div class=" bg-white p-2 shadow-md border">
    <div class="row">
        <div class="col-12 text-end">
            <a (click)="back();">Close</a>
        </div>
    </div>
    <div class="row  border-bottom py-4"  [hidden]="loading" *ngFor="let x of detail">
        <div class="col-12">
            <div>
                <strong>{{x.x_name}}</strong>
            </div> 
        </div>

        <div class="col text-end">
            <small>Unit Price</small>
            <div><b>Rp {{x.x_unitprice | number}}</b></div>
        </div>
        <div class="col text-end">
            <small>Qty</small>
            <div> <b>{{x.x_qty | number }}</b></div>
        </div>
        <div class="col text-end" [hidden]="!x.x_discount">
            <small>Discount</small>
            <div> <b>Rp {{x.x_discount| number}}</b></div>
        </div>
        <div class="col text-end">
            <small>Subtotal</small>
            <div> <b>Rp {{x.x_subtotal| number}}</b></div>
        </div>
    </div>

    <div class="row" [hidden]="!loading">
        <div class="col-12" >
            <div class="text-center my-5">
              <img src="./assets/gif/icons8-loading.gif" width="50">
            </div>
         </div>
    </div>
</div>
