<div class=" bg-white p-2 shadow-md border">
    <div class="row">
        <div class="col-10">
            <div> <strong>{{header.name}}</strong> </div>
        </div>
        <div class="col-2 text-end">
            <a (click)="back();">Close</a>
        </div>
        <div class="col-12">
            <div>Order Date : <strong> {{header.x_order_date}}</strong></div>
            <div>{{header.street}}</div> 
        </div>

        <div class="col-12" *ngIf="header.x_transaction_type != null ">
            <div>Transaction Type : <strong>{{header.x_transaction_type}}</strong></div>
            
        </div>

        <div class="col-12" >
            <div>AKS : <strong>{{header.x_aks == 't' ? 'YES':''}}</strong></div> 
        </div>

        <div class="col-12" *ngIf="contact.name != null ">
            <div>CONTACT : <strong>{{contact.name}}</strong></div> 
        </div>

    </div>

    <div class="row g-1 border-bottom py-1" [hidden]="loading" *ngFor="let x of detail">

        <div class="col-6">
            <small>Item Name</small>
            <div> <b>{{x.x_qty | number }}</b> x <b>{{x.x_name}}</b>  </div>
        </div>
        <div class="col-2 text-end">
            <small>Unit Price</small>
            <div><b> {{x.x_unitprice | number}}</b></div>
        </div>

        <div class="col-2 text-end">
            <small>Discount</small>
            <div> <b> {{x.x_discount| number}}</b></div>
        </div>
        <div class="col-2 text-end">
            <small>Subtotal</small>
            <div> <b> {{x.x_subtotal| number}}</b></div>
        </div>


    </div>
    <div class="row" *ngIf="header.x_bukti_bayar_url != '' ">
        <div class="col-12 py-3"> 
            <img [src]="api+'public/'+header.x_bukti_bayar_url" width="100%">
            <small> {{api+header.x_bukti_bayar_url}}</small>
        </div>
        
    </div>

    <div class="row g-1 mb-1 py-2">
        <div class="col-9"> <input type="file" class="form-control form-control-sm" (change)="onFileSelected($event)" />  </div>
        <div class="col-3 d-grid"> <button class="btn btn-sm btn-light border" (click)="onUpload()">Upload</button>  </div>
    </div>

    <div class="row" [hidden]="!loading">
        <div class="col-12">
            <div class="text-center my-5">
                <img src="./assets/gif/icons8-loading.gif" width="50">
            </div>
        </div>
    </div>
</div>