<nav class="fixed-top bg-gray-100 py-2">
    <div class="container-fluid">
        <div class="row g-1">
            <div class="col-1 align-self-center  ">
                <a class="navbar-brand h2" (click)="back()"><i class="bi bi-arrow-left"></i></a>
            </div>
            <div class="col-7 align-self-center  ">
                <h5 class="p-0 m-0"> Activites schedule</h5>
            </div>
            <div class="col-4 text-end  ">
                <a [routerLink]="[ '/activity/history', ]" class="btn btn-info rounded-pill">History</a>
            </div>
        </div>
    </div>
</nav>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">

                <div class="card mb-3" *ngFor="let x of items" [routerLink]="[ '/activity/detail/',x.id ]">
                    <div class="card-body ">
                        <strong>{{x.x_customer}}</strong>
                        <div class="lh-sm">
                            <small>{{x.x_route_name}}</small>
                        </div>
                        <div>
                            <small>Schdule Date : {{x.x_schedule_date | date:'d MMM y'}}</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

<div class="floating_footer">
    <a [routerLink]="[ '/activity/schedule' ]" class="display-1">
        <i class="bi bi-plus-circle-fill"></i>
    </a>
</div>