<nav class="fixed-top py-2 bg-white shadow-sm">
    <div class="container-fluid">
        <div class="row g-1">
            <div class="col-1 align-self-center  ">
                <a class="navbar-brand" (click)="back()"><i class="bi bi-arrow-left"></i></a>
            </div>
            <div class="col-10 align-self-center text-center">
                <b>Approval ToP</b>
            </div>
        </div>
    </div>
</nav>


<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">


    <div class="col-12 my-3" *ngIf="loading">
        <div class="text-center my-5">
            <img src="./assets/gif/loadingIntro.gif" width="100">
        </div>
    </div>

    <hr>
    <div *ngIf="!loading">
        <div class="row">  
            <div class="col-12"> 
                <div class="card rounded mb-2" *ngFor="let x of items">
                    <a href="javascript:;" [routerLink]="['/approval/top/detail/']" [queryParams]="{id:x.id}">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-6">
                                    <small>Requested Date </small>
                                    <div class="mb-1">
                                        <strong>{{x.x_request_date | addHours }}</strong>
                                    </div>
                                </div>
                                 <div class="col-6">
                                    <small>Customer Name</small>
                                    <div class="mb-1">
                                        <strong>{{x.x_customer_name   }}</strong>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-6">
                                    <small>Name </small>
                                    <div class="mb-1">
                                        <strong>{{x.x_requester_name }}</strong>
                                    </div>

                                </div>
                                <div class="col-6">
                                    <small>ID </small>
                                    <div class="mb-1">
                                        <strong>{{x.id }}</strong>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>